# Exclude Project Files
.project
.pydevproject
*.adoc
Cargo.lock

# Exclude Local Configurations
docker-compose.yml
.env
.env.*

# Exclude Build Files
main
gin-blog
bin/*

# Exclude Databases
data/*

# Exclude Activity Logs
log/*

